.image-text-overlay {
  display: grid;
  max-width: 75ch;
  justify-items: center;
  
  .image {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    
    img {
      width: 100%;
      max-width: 100%;
    }
  }
  
  .text {
    grid-row: 1;
    grid-column: 1;
    padding: 2rem;
    
    p {
      text-shadow: 0 0 1ch white;
    }
  }
}