.image-text-overlay {
  display: grid;
  justify-items: center;
  
  .image, .text {
    max-width: 75ch;
  }
  
  .image {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    
    img {
      width: 100%;
      max-width: 100%;
    }
  }
  
  .text {
    grid-row: 1;
    grid-column: 1;
    
    p {
      padding: 2rem;
      text-shadow: 0 0 1ch white;
    }
  }
}