@use "../image-with-text/image-with-text";
@use "../text-columns/text-columns";
@use "../image-text-overlay/image-text-overlay";

body {
  margin: 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
}