.simple-image-slider {
  display: grid;
  gap: 2rem;
  
  .image-slides {
    grid-area: 1 / 1 / 1 / 1;
    
    .image-slide {
      display: none;
      width: 100%;
      
      img {
        width: 100%;
      }
    }
    
    .active {
      display: block;
    }
  }
  
  .button {
    grid-area: 1 / 1 / 1 / 1;
    width: 3rem;
    height: 3rem;
    background: none;
    border: none;
    align-self: center;
    cursor: pointer;
    margin-inline: 1rem;
    padding-inline: 0;
  }
  
  .button-before {
    justify-self: start;
  }
  
  .button-after {
    justify-self: end;
  }
}